.quoteWindow {
  padding: 100px 30px;
  background-color: transparent;
  color: white;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  text-align: center;
}

.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -200;
}