.nashville {
  width: 80%;
  margin: 30px auto;
  font-size: 1.5rem;
}

.nashville hr {
  margin: 30px 0;
}

.nashville p, h3 {
  padding-bottom: 15px;
}

.buttons {
  background-color: #2376ec;
  padding: 30px;
  border-radius: 5px;
  margin-top: 30px;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

.button {
  background-color: #2376ec;
  border: 1px solid white;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
}

.button:hover {
  background-color: white;
}

.nashville img {
  width: 60%;
}

.nashville div {
  padding: 10px;
}

.small {
  font-size: .9rem;
  padding: 30px 0;
}

@media(max-width: 750px) {
  .nashville img {
    width: 85%;
  }

  .nashville a {
    margin: 10px;
  }

  .nashville p, h3 {
    text-align: center;
  }
}
