.callToAction {
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  margin: 30px auto;
  font-size: 1.3rem;
  background-color: #2376ec;
  color: white;
  width: 60%;
}

.callToAction a {
  padding: 20px;
  font-family: inherit;
  font-size: 1.2rem;
  border-radius: 5px;  
  background-color: #2376ec;
  color: white;
  border: 1px solid white;
  box-shadow: 1px 1px 3px black;
}

.callToAction a:hover {
  background-color: white;
  color: #2376ec;
}


