.heading {
  width: 80%;
  margin: 30px auto;
  padding-top: 120px;
  font-size: 1.5rem;
  color: #2376ec;
}

.heading hr {
  margin: 30px 0;
}

@media(max-width:750px) {
  .heading {
    text-align: center;
  }
}