.row, .reverseRow {
  width: 100%;
  display: flex;
  padding: 30px 0;
}

@media(max-width: 750px) {
  .row {
    flex-direction: column;
   
  }

  .reverseRow {
    flex-direction: column-reverse;
    
  }
}

