.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: white;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.row {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

