.imageBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.imageBox img {
  width: 80%;
  height: 80%;
}

.imageBox button {
  margin: 20px;
  padding: 20px;
  font-family: inherit;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid #2376ec;
  background-color: #2376ec;
  color: white;
  box-shadow: 1px 1px 3px black;
}

.imageBox button:hover {
  background-color: white;
  color: #2376ec;
}

.imageBox a {
  margin: 20px;
  padding: 20px;
  font-family: inherit;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid #2376ec;
  background-color: #2376ec;
  color: white;
  box-shadow: 1px 1px 3px black;
}

.imageBox a:hover {
  background-color: white;
  color: #2376ec;
}

.imageBox p {
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #2376ec;
}