.paris {
  width: 80%;
  margin: 30px auto;
  padding-top: 120px;
  font-size: 1.5rem;
}

.paris hr {
  margin: 30px 0;
}

.paris img {
  width: 100%;
}

.paris p {
  padding-bottom: 15px;
}

.paris span {
  font-weight: bold;
}

.buttons {
  background-color: #2376ec;
  padding: 30px;
  border-radius: 5px;
  margin-top: 30px;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
}

.button {
  background-color: #2376ec;
  border: 1px solid white;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
}

.button:hover {
  background-color: white;
}

