.cancun {
  width: 80%;
  margin: 30px auto;
  font-size: 1.5rem;
}

.cancun img {
  width: 60%;
}

.small {
  font-size: .9rem;
  padding: 30px 20px;
}

.tableTitle {
  background-color: #2376ec;
  color: white;
}

@media(max-width:750px) {
  .cancun {
    width: 100%;
  }
  
  .cancun img {
    width: 85%;
  }
}