.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  min-height: 100px;
  background-color: white;
  padding: 30px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.row {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu {
  font-size: 1.2rem;
}

a {
  color: black;
  text-decoration: none;
  font-family: inherit;
}

a:hover {
  color: #2376ec;
}

@media(max-width: 750px) {
  .row {
    display: none;
  }
}

@media(min-width: 751px) {
  .menu {
    display: none;
  }
}


